
.pageHeading{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageHeading:hover{
  color: #000;
  text-decoration: none;
}

.navbar-nav{
  margin-left: auto;
  margin-right: auto;

  .nav-item{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-dark{
  background: #222;
}

.statsRow{
  padding-top: 35px;
  background: #222;
  padding-top: 30px;
  padding-bottom: 20px;
}

.statHeading{
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}

.statValue{
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
}

.statType{
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.channelTitle{
  font-size: 40px;
  text-align: center;
}

.channelDescription{
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.channelThumb{
  width: 180px;
  display: block;
  border-radius: 90px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

.ratioHeading{
  text-align: center;
  font-size: 24px;
}

.recharts-wrapper{
  margin-left: auto;
  margin-right: auto;
}

.sectionPadding{
  padding-top: 50px;
  padding-bottom: 50px;
}

.viewTimePadding{
  margin-top: 100px;
}

.commentHeading{
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.commentSubheading{
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.comment{
  background: #fff;
  padding: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}

.commentThumb{
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.commentUsername{
  font-weight: bold;
  color: #007bff;
}
